[Unit]
Description=RoleBoi Discord Bot
Documentation=https://github.com/KarlOfDuty/RoleBoi
After=network.target
Wants=network.target
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
User=roleboi
Type=notify-reload
Restart=on-failure
NotifyAccess=main
RestartSec=5
RestartPreventExitStatus=1

ExecStart=/usr/bin/roleboi --config /etc/roleboi/config.yml --log-file /var/log/roleboi/roleboi.log --database-file /var/lib/roleboi/roleboi.db
ExecReload=/bin/kill -HUP $MAINPID

RuntimeDirectory=roleboi
Environment=DOTNET_BUNDLE_EXTRACT_BASE_DIR=/run/roleboi

[Install]
WantedBy=multi-user.target
